<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee">

	<listener>
		<listener-class>org.springframework.web.util.IntrospectorCleanupListener
		</listener-class>
	</listener>

	<context-param>
		<param-name>spring.profiles.active</param-name>
		<param-value>attended, attendedKiosk</param-value>
	</context-param>

	<welcome-file-list>
		<welcome-file>login.htm</welcome-file>
	</welcome-file-list>

	<login-config>
		<auth-method>BASIC</auth-method>
	</login-config>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>BOCOGOP Admin</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>BOCOGOPAdmin</role-name>
		</auth-constraint>
	</security-constraint>

	<security-role>
		<description>
			The role that is required to log in to the kiosk.
		</description>
		<role-name>BOCOGOPAdmin</role-name>
	</security-role>

	<session-config>
		<session-timeout>-1</session-timeout>
	</session-config>

</web-app>
