DemoServer {
	org.bocogop.med.vistalink.security.VistaLoginModule requisite
		org.bocogop.med.vistalink.security.ServerAddressKey="isc1a4.fo-albany.med.va.gov"
		org.bocogop.med.vistalink.security.ServerPortKey="8000"; 
};
LocalServer {
	org.bocogop.med.vistalink.security.VistaLoginModule requisite
		org.bocogop.med.vistalink.security.ServerAddressKey="127.0.0.1"
		org.bocogop.med.vistalink.security.ServerPortKey="8000"; 
};
AfhilServer {
	org.bocogop.med.vistalink.security.VistaLoginModule requisite
		org.bocogop.med.vistalink.security.ServerAddressKey="205.239.12.177"
		org.bocogop.med.vistalink.security.ServerPortKey="8000"; 
};
PcmmrServer {
	org.bocogop.med.vistalink.security.VistaLoginModule requisite
		org.bocogop.med.vistalink.security.ServerAddressKey="192.85.20.135"
		org.bocogop.med.vistalink.security.ServerPortKey="8001"; 
};
CHEYL11 {
	org.bocogop.med.vistalink.security.VistaLoginModule requisite
		org.bocogop.med.vistalink.security.ServerAddressKey="10.4.230.123"
		org.bocogop.med.vistalink.security.ServerPortKey="24286"; 
};
CHEYL12 {
	org.bocogop.med.vistalink.security.VistaLoginModule requisite
		org.bocogop.med.vistalink.security.ServerAddressKey="10.4.230.123"
		org.bocogop.med.vistalink.security.ServerPortKey="24341"; 
};
CHEY6 {
	org.bocogop.med.vistalink.security.VistaLoginModule requisite
		org.bocogop.med.vistalink.security.ServerAddressKey="10.4.230.253"
		org.bocogop.med.vistalink.security.ServerPortKey="24527"; 
};