.voterSearchResultsList th {
	text-align: center;
	background-color: #B9CFE6;
	font-weight: bold;
	padding: 3px 18px 3px 10px;
	margin: 3px;
}

.voterSearchResultsList td {
	text-align: left;
	padding: 3px 4px;
	margin: 3px 4px;
}

.voterSearchResultsList #allRowsController {
	padding: 3px 4px;
	margin: 3px 4px;
}

.voterSearchResultsList tr.dcpRow td:first-child {
	padding-left: 25px;
}

div.widgetWrapper {
	padding: 10px;
}

div.activeNotification {
	background-color: #FFDDDD;
	margin: 5px;
	padding: 2px;
	font-size: 11pt;
}

td.blueBar {
	font-family: Verdana, Arial, Helvetica, Sans-Serif;
	background-color: #333366;
	vertical-align: middle;
}

.stationHeaderText {
	font-family: Verdana, Arial, Helvetica, Sans-Serif;
	font-size: 8pt;
	color: white;
}

.changeStationText {
	font-family: Verdana, Arial, Helvetica, Sans-Serif;
	font-size: 8pt;
	color: black;
}

a.changeStationLink, a.changeStationLink:active, a.changeStationLink:visited
	{
	font-family: Verdana, Arial, Helvetica, Sans-Serif;
	font-size: 8pt;
	text-decoration: underline;
	border-bottom: 1px solid #ffffff;
	color: black;
	background-color: Transparent;
}

a.logoutLink:link, a.logoutLink:active, a.logoutLink:visited {
	font-family: Verdana, Arial, Helvetica, Sans-Serif;
	font-size: 8pt;
	text-decoration: underline;
	border-bottom: 1px solid #ffffff;
	color: white;
	background-color: Transparent;
}

.noticeOfNonProdEnvironment {
	position: absolute;
	left: 10px;
	z-index: 10;
	font-family: Verdana, Arial, Helvetica, Sans-Serif;
	font-size: 8pt;
	font-weight: bold;
	font-style: italic;
	color: #FFCCCC;
	text-align: left;
}
#appTitle {
	color: #222222;
	float: none;
	font-weight: bold;
	padding: 5px 60px 5px 60px;
	/** text-shadow: 1px 1px #FFFFFF;**/
	margin: 0px;
	text-align: center;
	font-size: 1.1em;
}